body{ background:#f9f9f9; font-family: 'Roboto', sans-serif; overflow: hidden; }

.detect{
  border:1px solid black;
}

h3{
    color: #1cb7b0;
    font-size: 1.5em;
    letter-spacing: 0.1em;
    position: absolute;
    text-transform: uppercase;
    margin: 0px;
    left: 50%;
    top: 20px;
    transform: translate(-50%, 0%);
}
h4{
    font-size: 1em;
    text-transform: uppercase;
    position: absolute;
    width: 520px;
    left: 50%;
    top: 60px;
    margin: 0px;
    transform: translate(-50%, 0%);
}
#info{ position: relative;  }

/*tombol*/
.tombol{ flex-basis: 100%; }
.tombolAnimation { border: none; color: white; padding: 10px 25px; margin-bottom: 100px;
   				   text-transform: uppercase; font-weight: bold; cursor: pointer; }
#tombolBerhenti{ background: #FF6666; }
#tombolJalan{ background: #33C2DF; }

.pause{
  animation-play-state: paused !important;
}

/*animasi orang jalan*/
#orang {
  width: 95px;
  height: 135px;
  margin: 0px auto;
  position: absolute;
  left: 150px;
  bottom: 50px;
  background: url('images/animasi.png');
  left: 50%;
  transform: translate(-50%, 0%);
}

.jalan{
  animation: jalan .7s steps(15) infinite;
}

@keyframes jalan {
    from { background-position-x: 0px; }
    to{ background-position-x: -2100px; }
}

.lompat{
  animation: lompat 2.7s steps(15) forwards;
}


@keyframes lompat {
    0% {
      bottom: 50px;
      background-position-x: 0px;
      background-position-y: -138px;
    }
    20%{ bottom: 170px; }
    30%{ bottom: 190px; }
    85%{ bottom: 190px; }
    90%{ bottom: 170px; }
    100%{
      bottom: 50px;
      background-position-x: -2100px;
      background-position-y: -138px;
    }
}

.mati{
  width: 140px !important;
  height: 138px !important;
  animation: mati .7s steps(14) forwards;
}

@keyframes mati {
    from { background-position-x: 0px; background-position-y: -276px; }
    to{ background-position-x: -1960px; background-position-y: -276px; }
}

/*MOTOR*/
.motor {
  height: 136px;
  margin: 0px auto;
  background: url('images/motor.png');
  position: absolute;
  bottom: 50px;
  z-index: -1;
  animation-play-state: paused;
}

@keyframes maju {
    from { left:1380px; }
    to{ left: -750px; }
}

.motor1{
  width: 240px;
}

.motor2{
  width: 184px;
}

.motor3{
  width: 190px;
}

@keyframes motor1 {
    to{ background-position-x: -750px; }
}

@keyframes motor2 {
    from { background-position-y: -136px; }
    to{ background-position-y: -136px; 
        background-position-x: -750px; }
}

@keyframes motor3 {
    from { background-position-y: -272px; }
    to{ background-position-y: -272px;
        background-position-x: -750px; }
}